<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>TV-Show Detail</title>
</head>
<body>
    <div>
        <h2>{{ object.title }}</h2>
        <p>{{ object.body}}</p>
        <img src="{{ object.image.url }}" alt="">
        <p>{{ object.created_date}}</p>
        <p>{{ object.updated}}</p>
        <p>{{ object.category}}</p>
    </div>
<div>
    <h2>Comments: </h2>
    <ul>
        {% for i in object.comments.all %}
            <li>
            <h3>{{ i.text }}</h3>
            </li>
        {% endfor %}
    </ul>
</div>
<div>
    <form action="/show/{{ object.pk }}/" method="POST">
        {% csrf_token %}
        {{ fors.as_p }}
        <input type="submit" value="Add Comment" />
    </form>
</div>
</body>
</html>